name: Test TorchFix

on:
  pull_request:
  workflow_dispatch:

jobs:
  test-torchfix:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, macos-latest-large, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10' 
      - name: Upgrade build dependencies
        run: |
          pip3 install -U pip
          pip3 install -U setuptools
      - name: Install TorchFix
        run: |
          pip3 install ".[dev]"
      - name: Run torchfix CLI
        run: |
          torchfix --help
      - name: Run pytest
        run: |
          pytest -vv tests
      - name: Run flake8
        run: |
          flake8
      - name: Run mypy
        run: |
          mypy .
      - name: Run black
        run: |
          black --check .
